/*rgb(251, 251, 251); rgb(234, 220, 166)
; rgb(226, 194, 117); rgb(195, 106, 45);*/
/*#C36A2D; #E2C275; #EADCA6; #FBFBFB*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}
body {
  background-color: #C8A27C;
}
input, select {
  background-color: #ebc8a5;
  border-radius: 25px;
  padding: 4px;
  width: 98px;
  text-align: center;
}
select {
  width: fit-content;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #151618;
  background-color: #974928;
}
button {
  background-color: #C36A2D;
  padding: 4px 10px;
  border: none;
  border-radius: 25px;
  font-family: monospace;
}
h3 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.cwratio {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.inputAmount {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.resultSpace {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
button:hover {
  background-color: rgb(37, 151, 37);
}